<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<!-- HTML Head -->
	<head th:include="base_fragments :: base_head">
        <title>Withdraw Failed</title>
	</head>
	<body>
		<!-- Navigation -->
		<div th:include="base_fragments :: base_nav">
		</div>
        
		<!-- Page Content -->
		<div class="container">
            <div class="row">
                <h1>Withdraw failed.</h1>
            </div>
		</div>
		
		<!-- Footer & JS -->
		<div class="container" 
            th:include="base_fragments :: base_footer">
		</div>
	</body>
</html>