<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<!-- HTML Head -->
	<head th:include="base_fragments :: base_head">
        <title>Withdraw Success</title>
	</head>
	<body>
		<!-- Navigation -->
		<div th:include="base_fragments :: base_nav">
		</div>
        
		<!-- Page Content -->
		<div class="container">
            <div class="row">
                <h1>Withdraw successful.</h1>
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>
                                <span th:text="${data.name}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Account Type</td>
                            <td>:</td>
                            <td>
                                <span th:text="${data.kind}">%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Your Balance</td>
                            <td>:</td>
                            <td>
                                <span th:text="${data.balance}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Account Interest</td>
                            <td>:</td>
                            <td>
                                <span 
                                    th:text="${data.interest}">%</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
		
		<!-- Footer & JS -->
		<div class="container" 
            th:include="base_fragments :: base_footer">
		</div>
	</body>
</html>