<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<!-- HTML Head -->
	<head th:include="base_fragments :: base_head">
        <title>ABS Training : Saving Form</title>
	</head>
	<body>
		<!-- Navigation -->
		<div th:include="base_fragments :: base_nav">
		</div>
        
		<!-- Page Content -->
		<div class="container">
			<div class="row">
                <!-- TODO: Get account object from controller -->
                <!--
                <form th:each="account : ${dataList}">
                -->
                <form>
                    <div class="form-group">
                        <label for="form.id">ID</label>
                        <!--
                        <input type="text" class="form-control" id="form.id" th:value="${account.id}" disabled="disabled" value="999"/>
                        -->
                        <input type="text" class="form-control" id="form.id"/>
                    </div>
                    <div class="form-group">
                        <label for="form.balance">Balance</label>
                        <!--
                        <input type="text" class="form-control" id="form.balance" th:value="${account.balance}" disabled="disabled" value="10000"/>
                        -->
                        <input type="text" class="form-control" id="form.balance"/>
                    </div>
                    <div class="form-group">
                        <label for="form.amount">Deposit Amount</label>
                        <!--
                        <input type="text" class="form-control" id="form.amount" placeholder="Enter amount"/>
                        -->
                        <input type="text" class="form-control" id="form.amount" placeholder="Enter amount"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Deposit Cash</button>
                </form>
			</div>
		</div>
		
		<!-- Footer & JS -->
		<div class="container" th:include="base_fragments :: base_footer">
		</div>
	</body>
</html>
