<!DOCTYPE HTML>
<html>
	<head>
		<title>Internet Banking - Success</title>
	</head>
	<body>
		<h3>Welcome, <span th:text="${data.name}"></span></h3>

		<table>
			<tbody>
				<tr>
					<td><a href="depositForm.abs"><button>Deposit</button></a></td>
					<td><a href="withdrawForm.abs"><button>Withdraw</button></a></td>
				</tr>
				<tr>
					<td><a href="checkBalance.abs"><button>Check Balance</button></a></td>
					<td><a href="accountInfo.abs"><button>AccountInfo</button></a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>