<!DOCTYPE HTML>
<html>
	<head>
		<title>Register Success</title>
	</head>
	<body>
		<h1>Thank You!</h1>
		<p>Your registration process has been finished</p>
		
		<table>
			<tbody>
				<tr>
					<td>Name</td>
					<td>:</td>
					<td><span th:text="${data.name}"></span></td>
				</tr>
				<tr>
					<td>Address</td>
					<td>:</td>
					<td><span th:text="${data.address}"></span></td>
				</tr>
				<tr>
					<td>Phone</td>
					<td>:</td>
					<td><span th:text="${data.phone}"></span></td>
				</tr>
				<tr>
					<td>Account Type</td>
					<td>:</td>
					<td><span th:text="${data.kind}">%</span></td>
				</tr>
				<tr>
					<td>Your Balance</td>
					<td>:</td>
					<td><span th:text="${data.balance}"></span></td>
				</tr>
				<tr>
					<td>Account Interest</td>
					<td>:</td>
					<td><span th:text="${data.interest}">%</span></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>