<!DOCTYPE HTML>
<html>
<head>
	<title>Internet Banking - Account Info</title>
</head>
<body>
	<h3>Account Information</h3>

	<table>
		<tbody>
			<tr>
				<td>Name</td>
				<td>:</td>
				<td><span th:text="${data.name}"></span></td>
			</tr>
			<tr>
				<td>Address</td>
				<td>:</td>
				<td><span th:text="${data.address}"></span></td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>:</td>
				<td><span th:text="${data.phone}"></span></td>
			</tr>
			<tr>
				<td>Account Number</td>
				<td>:</td>
				<td><span th:text="${data.cardNumber}"></span></td>
			</tr>
			<tr>
				<td>Account Type</td>
				<td>:</td>
				<td><span th:text="${data.kind}"></span></td>
			</tr>
		</tbody>
	</table>
	<br />
	<a href="loginForm.abs">Back to main screen</a>
</body>
</html>