<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="base_head">
		<meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Bootstrap Core CSS -->
        <link href="http://localhost:8081/css/bootstrap.css" rel="stylesheet" 
			th:fragment="base_bootstrap_css"/>

        <!-- Custom CSS -->
        <link href="http://localhost:8081/css/base.css" rel="stylesheet" th:fragment="base_css"/>
	</head>
	<body>
		<!-- Navigation -->
		<div th:fragment="base_nav">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" 
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">ABSTraining</a>
					</div>
					<!-- Collect the nav links, forms, and other content for 
					toggling -->
					<div class="collapse navbar-collapse" 
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="#">Nav 1</a>
							</li>
							<li>
								<a href="#">Nav 2</a>
							</li>
							<li>
								<a href="#">Nav 3</a>
							</li>
							<li>
								<a href="#">Nav 4</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>
		</div>
		
		<!-- Footer -->
		<div th:fragment="base_footer">
			<div class="container">
				<hr />
				<footer>
					<div class="row">
						<div class="col-lg-12">
							<p>Copyright &copy; FMSE 2015</p>
						</div>
					</div>
				</footer>
			</div>
			<!-- jQuery -->
			<script src="http://localhost:8081/js/jquery-2.1.3.js" 
				th:fragment="base_jquery"></script>
			<!-- Bootstrap Core JavaScript -->
			<script src="http://localhost:8081/js/bootstrap.js" 
				th:fragment="base_bootstrap_js"></script>
            <!-- Custom JavaScript -->
			<script src="http://localhost:8081/js/base.js" 
				th:fragment="base_js"></script>
		</div>
	</body>
</html>
